# Laravel & Node .gitignore

# Laravel
/vendor
/node_modules
/.env
/.env.*
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/storage
/.phpunit.result.cache
/.phpunit.result.cache
/.phpunit.result.cache

# Composer
/composer.lock

# NPM
/package-lock.json

# Vite
/public/build

# IDE / OS files
/.idea
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Misc
/.vscode
*.log
